/* condicion inicial navegacion*/
#indicators, #definition{
  display: none;
}
#index{
  display: block;
}

/*Imagen mapa de fondo*/

  #index, #definition, #indicators{ 
    background-image: url(Images/map_latin_america.png);    /* Ubicación de la imagen */
    background-position: center center; /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
    background-repeat: no-repeat;/* Para que la imagen de fondo no se repita */
    background-attachment: fixed; /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-size: contain;/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
}

/*Sección de titulo y logo*/
#logo span {  
    text-align: center;
    font-size: 32px;
    padding-left: 120px; 
}

#logo img{
  width: 150px;
}

#head-bar{ 
  border: solid 2px #000000d7;
  background-color: rgba(93, 130, 165, 0.88);
}

/*Sección barra*/
#bar{
  border:solid 2px #000000d7;
}

.options-bar li{
  list-style: none;     /*Quitarle a la lista los puntos */
  display: inline-block; /*Mostrar la barra en horizontal*/
  padding-right: 150px;   /*Espacio entre las palabras de la barra*/
  padding-left: 150px;
  padding-top: 10px;
}

.options-bar li a{  
text-decoration: none;       /*Quitarle el subrayado a las palabras de la barra*/
color: rgba(0, 0, 0, 0.753);
font-size: 16px;
}

/* Sección de inicio y que es un indicador y sus imágenes*/
.index-text, .whatis-text{
    text-align: justify;
    font-family: Roboto;
    font-size: 24px;
    padding-top: 50px; 
    padding-left: 30px;          
}

.image-first-screen, .image-second-screen{  
  margin-top: 40px;
}

.index1 h3, .definition1 h3, .indicators1 h3 {
  padding-top: 60px;
  text-align: center;
  
}


/*Sección de selección de filtros*/
.country-selection, .gender-selection{

  text-align: center;
  padding-top: 30px;
  font-family: Roboto;
  font-size: 24px;           
}

#next-button{
  margin-top: 50px;
  margin-left: 580px; 
}

/*Sección lista de indicadores*/
.indicators1 span{
  text-align: center; 
  font-family: Roboto;
  font-size: 24px;
  margin-left: 117px;
}

#selectIndicators{
  /*width: 1001px;
  height: 350px;*/
  margin-top: 5px;
  margin-left: 30px;
  font-size: 14px;
 }

 #indicator-button{
  margin-left: 542px;
  margin-top: 20px;
}

#btOrderListAsc{
  float: right;
  margin-right: 117px;
 }

 #btOrderListDesc{
  float:right;
 }


/*Seccion tabla con el valor historico de los indicadores*/

#tableScreen{
  text-align: center; 
  margin-top: 30px;
}

table, th, td {
  margin-top: 30px;
  border: 1px solid black;
}
 


   

 


 